[user]
	name = Julien Silva
	email = silva@getyourguide.com
[alias]
	# http://blackpixel.com/blog/2012/11/code-review-kaleidoscope.html
	ksreview = "!f() { local SHA=${1:-HEAD}; local BRANCH=${2:-master}; if [ $SHA == $BRANCH ]; then SHA=HEAD; fi; git difftool -y -t Kaleidoscope $BRANCH...$SHA; }; f"

	# View abbreviated SHA, description, and history graph of the latest 20 commits
	l = log --pretty=oneline -n 20 --graph --abbrev-commit

	# Show verbose output about tags, branches or remotes
	tags = tag -l
	branches = branch -a
	remotes = remote -v

	# Undo a `git push`
	undopush = push -f origin HEAD^:master

	# Display the number of commits per author in numerical order
	who = shortlog -sn --

	# Unstage previous commit
	goddammit = !git reset --soft HEAD^

	# `git remote prune origin`: remove remote-tracking branches that were deleted from the remote repo
	# `git gc`: cleanup unnecessary files and optimize the local repository
	# `git clean -df`: remove untracked files and directories from the working tree
	# `git stash clear`: remove all stashed states
	trim = !git remote prune origin && git gc
	cleanup = !git clean -df && git stash clear
[apply]
	# Detect whitespace errors when applying a patch
	whitespace = fix
[core]
	excludesfile = /Users/jsilva/.gitignore_global
	quotepath = false
[color]
	# Use colors in Git commands that are capable of colored output when outputting to the terminal
	ui = auto
[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
[color "status"]
	added = yellow
	changed = green
	untracked = cyan
[rerere]
	enabled = true
[difftool "Kaleidoscope"]
	cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[diff]
	tool = Kaleidoscope
[difftool]
	prompt = false
[mergetool "Kaleidoscope"]
	cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
	trustExitCode = true
[mergetool]
	prompt = false
[merge]
	tool = Kaleidoscope
[help]
	autocorrect = 1
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[push]
	default = simple